.masthead {
    background: #2c3e50;
    background-image: linear-gradient(transparent, #1abc9c), url("../img/seattle_skyline_background.png"); 
    height: 100vh;
}
.masthead-container {
    text-shadow: 2px 2px 4px #2c3e50;
    padding-top: calc(15rem + 74px);
}
.icon-links {
    margin: 2rem;
}
.btn-primary {
    margin-top: 2rem;
}
.text-align-center {
    text-align: center;
}