.masthead {
    background: #2c3e50;
    background-image: linear-gradient(transparent, #2c3e50), url("../img/seattle_skyline_background.png"); 
    height: 100vh;
}
.masthead-container {
    text-shadow: 4px 4px 4px #1abc9c;
}
.icon-links {
    margin: 2rem;
}
.btn-primary {
    margin-top: 2rem;
}
.text-align-center {
    text-align: center;
}